---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "base.scss";
@import "social.scss";
@import "glyphs.scss";
@import "download.scss";
@import "home.scss";

// site specific config
@media (max-width: 1150px) {
    #KMadeByKDE span {
        display: none;
    }
}
