---
layout: default
css-include: /css/main.css
sorted: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(/assets/img/screenshot.png)"></div>
            <div class="carousel-text-overlay">
                <h1>KPhotoAlbum</h1>
                <p>A powerful tool for your images.</p>
            </div>
        </div>
    </div>
</section>

<main aria-label="Content" id="content" class="container">
    <h1>Welcome to {{ site.title }}'s official homepage!</h1>    
    <p>If you have hundreds or even thousands of images on your hard drive, it becomes impossible to remember the story behind every single image or the names of the persons photographed. KPhotoAlbum was created to help you describe your images and then search the big pile of pictures quickly and efficiently.</p> 
    <p>With KPhotoAlbum it is possible to find any image in less than 5 seconds based on a powerful tag system, let that be an image with a special person, an image from a special place, or even both.</p>    
    <p>There is of course no such thing as free lunch - with KPhotoAlbum this means that you have to annotate all your images before you are set. KPhotoAlbum is, however, highly optimized for annotating images, allowing you to annotate over 100 images in only 10 minutes with a bit of practice.</p>
    {% include blog.html %}
</main>


